
.Hero-Image{
    position: absolute;
    top: 0;
    z-index: -10;
}
.Hero-Image > .swiper{
    width: 100vw;
    min-height: 446px;
}

.swiper-slide{
      width: 100%;
    min-height: 446px;
    object-fit: cover;
}

.swiper-slide > .Image-Container > img{
    width: 100%;
    min-height: 446px;
    object-fit: cover;
}


.image-Container{
    position: relative;
}


.Image-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 51%;
    background-color: black;
    z-index: inherit;
}


@media (min-width: 48em){
    .Hero-Image{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
}
    .Hero-Image > .swiper{
    width: 50.781vw;
    min-height: 494px;
}

.swiper-slide{
    width: 100%;
    min-height: 494px;
}
    .Image-Container > img{
        width: 100%;
        height: 494px;
    }
    .Image-overlay{
    display: none;
}
}

@media (min-width: 1200px){

    .Hero-Image > .swiper{
    width: 50vw;
    height: calc(100vh + 10px);
}

    .Image-Container > img{
        width: 100%;
        height: calc(100vh + 10px);
    }

    .swiper-slide{
        width: 100%;
        height: calc(100vh + 10px);
        object-fit: cover;
}

.Image-overlay{
    display: none;
}

}
